body {
	margin:auto 0;
	text-align: center;
}
#main {
	margin: 80px 8px;
    padding: 15px 15px 60px 15px;
    border-radius: 5px;
    background: #eee;
}
h1{
    font-size: 3rem;
    margin-bottom: 0px;
}
#img-div {
	background-color: white;
	padding: 10px;
	margin:auto 0;
}
img {
	max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}
figcaption {
	line-height: 1.3rem;
    padding-top: 15px;
}
h3 {
	font-size: 1.17em;
    margin: 50px 0;
    font-weight: bold;
}
ul {
	text-align: left;
    margin: 0 auto 30px auto;
    max-width: 560px;

}
li {
	line-height: 2.4;
}
blockquote {
	font-style: italic;
    font-size: 20px;
}
h2 {
	padding-top: 30px;
}
a {
	    color: #477CA7;
}